<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>John Ruane Portfolio</title>
    <meta name="description" content="John Ruane Portfolio">
    <meta name="author" content="John Ruane">
    <meta name="viewport" content="width=device-width; initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no; " />

    <link rel="stylesheet" href="css/styles.css?v=1.0">

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href='https://fonts.googleapis.com/css?family=Hind+Siliguri:400,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
</head>
<body class="{{ body_class }}">
    {% include "../components/menu.nunjucks" %}
    {% include "../components/header.nunjucks" %}

    {% block main %}{% endblock %}

    <footer>
        <div class="container">
            <ul class="social-media">
                <li><a href="http://www.facebook.com/john.ruane.37" target="_blank">Facebook</a></li>
                <li><a href="https://www.instagram.com/jbruane/" target="_blank">Instagram</a></li>
                <li><a href="https://www.linkedin.com/in/john-ruane-587749103" target="_blank">LinkedIn</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>

<script src="js/scripts.js"></script>
