body {
    background: #ffffff;
    font-family: Futura, Arial, sans-serif;
    font-size: 14px;
    line-height: initial;
}

.title-wrapper {
    display: flex;
    justify-content: center;
    h1 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 100;
        margin-top: 50px;
       span {
           font-family: 'Eczar', serif;
       }
   }
}
.keyword-wrapper {
    display: none;
}
p:hover {
    cursor: pointer;
}
.article-list {
    list-style: none;
    margin-top: 10px;
    padding: 0;
    font-size: 14px;
    li {
        margin-bottom: 20px;
        span {
            background-color: yellow;
        }
    }
    img {
        width: auto;
        max-height: 70px;
    }
    p {
        margin: 0 0 0 10px;
    }
    a {
        text-decoration: none;
        display: flex;
        color: #000;
    }
}
// .col {
//     border: 1px solid #000;
//     padding: 6px;
//     text-align: center;
//     h4 {
//         margin: 0;
//     }
//     p {
//         display: flex;
//         margin: 0;
//         justify-content: space-between;
//     }
//     & + .col {
//         margin-left: 25px;
//     }
// }
.admin-panel {
    p {
        margin-bottom: 5px;
    }
}


/* New styles */
.site-wrapper {
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
.site-wrapper.active {
    .content-wrapper {
        position: fixed;
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        width: calc(100% - $sidebar-width-sm);
    }
    .mo-sidebar-container {
        width: $sidebar-width-sm;
        top: 0;
        overflow-y: auto;
        overflow-x: hidden;
        transition: all .5s ease;
    }
    // @media (min-width: $md) {
    //     right: 0;
    //     width: $sidebar-width;
    //     &.active {
    //         width: $sidebar-width;
    //     }
    // }
}
.content-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #e8e8e8;
    padding: $global-padding 0;
    height: $header-height;
}
.flam-text {
    font-family: 'Bigshot One', cursive;
    &:before {
        content: "THE";
        position: absolute;
        font-family: 'Quicksand', sans-serif;
        font-size: 0.5rem;
        font-weight: bold;
        color: #272727;
        top: -2px;
        left: 5px;
    }
}
.thin-text {
    font-family: 'Quicksand', sans-serif;
    font-weight: 200;
    color: #5A6C7B
}
.close {
    text-align: center;
    margin: 0;
    font-size: 1.3rem;
    // word-spacing: -5px;
    position: relative;
}
nav {
    width: 17px;
    height: 18px;
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: $z-index-high;
    @media (min-width: $md) {

        display: none;
    }
    span {
        height: 2px;
        display: block;
        position: relative;
        background: #000;
        transition: all .5s ease;
        transform-origin: right;
    }
    &.active span {
        &:nth-child(1) {
            transform: rotate(-45deg);
        }
        &:nth-child(2) {
            opacity: 0;
        }
        &:nth-child(3) {
            transform: rotate(45deg);
        }
    }
    &:hover {
        cursor: pointer;
    }
}
.archive-menu {
    font-size: 0.7rem;
    margin: 0;
    @media (min-width: $md) {
        display: none;
    }
    &:hover {
        cursor: pointer;
    }
}
// .content-wrapper {
//     margin: 0 auto;
//     width: 50%;
// }
// .mo-content {
//     flex: 1;
//     // height: 100vh;
//     height: 100%;
//     @media (max-width: $md) {
//         overflow-y: auto;
//         overflow-x: hidden;
//         -webkit-overflow-scrolling: touch;
//     }
//     @media (min-width: $md) {
//         margin-left: 10%;
//         margin-right: 10%;
//     }
// }
.mo-results-list {
    padding-left: 5%;
    padding-right: 5%;
}
// .mo-sidebar-container {
//     top: 0;
//     width: 0;
//     overflow-y: auto;
//     overflow-x: hidden;
//     transition: all .5s ease;
//     // &.active {
//     //     width: $sidebar-width-sm;
//     // }
//     // @media (min-width: $md) {
//     //     right: 0;
//     //     width: $sidebar-width;
//     //     &.active {
//     //         width: $sidebar-width;
//     //     }
//     // }
// }
.mo-sidebar-content {
    list-style: none;
    padding: $global-padding 10px 0;
    min-width: $sidebar-width-sm;
    span {
        border-bottom: $sidebar-label-border;
        @media (max-width: $md) {
            flex: 0;
        }
    }
    input {
        position: absolute;
        visibility: hidden;
    }
    input:checked {
        & ~ label:before {
            background-color: $radio-background-color-active;
        }
        & ~ label span {
            border-color: $sidebar-label-border-color;
        }
    }
    label {
        font-size: 1rem;
        display: flex;
        align-items: center;
        &:before {
            content: "";
            display: block;
            height: 10px;
            width: 10px;
            border: 2px solid #000;
            border-radius: 25px;
            margin-right: 6px;
            margin-bottom: 3px;
            @media (min-width: $md) {
                height: 15px;
                width: 15px;
            }
        }
        &:hover {
            cursor: pointer;
        }
    }
    li + li {
        label {
            margin-top: ($global-margin/3);
        }
    }
}
.mo-sidebar-tabs {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    height: $header-height;
    a {
        color: #000;
        text-decoration: none;
    }
    li {
        text-align: center;
        width: 50%;
        min-width: 50px;
        display: inline-block;
        float: left;
        user-select: none;
        display: flex;
        align-items: center;
        a {
            font-size: 0.8rem;
            float: left;
            width: 100%;
            &:focus {
                outline: none;
                user-select: none;
            }
        }
    }
    &[aria-hidden=false] {
        background: $tab-active-color;
    }
    &[aria-hidden=true] {
        background: $tab-color;
    }
}
.ui-state-default {
    background: $tab-color;
}
.ui-tabs-active {
    background: $tab-active-color;
}
.ui-tabs-panel {
    height: 100%;
    width: 100%;
    @media (min-width: $md) {
        overflow: scroll;
    }
    &[aria-hidden=false] {
        background: $tab-active-color;
    }
    &[aria-hidden=true] {
        background: $tab-color;
    }
}
.mo-results-list {
    //visibility: hidden;
    h2 {
        text-align: center;
    }
    ul {
        list-style: none;
        padding: 0;
    }
    .mo-list-item {
        font-size: 1.5rem;
        display: flex;
        justify-content: space-between;
        padding: $global-padding 0;
        border-bottom: $mo-border;
        &:hover {
            cursor: pointer;
        }
    }
    .article-list-item {
        font-size: .7rem;

    }
    .article-list-item {
        margin-top: $global-padding;
        a {
            display: flex;
            color: #000;
            text-decoration: none;
        }
        img {
            height: 50px;
            width: auto;
            margin-right: ($global-padding/2);
        }
    }
}
.results-heading {
    margin-top: $global-padding;
}
.mo-word-list {
    visibility: hidden;
    position: absolute;
}
// Graph styling
.graph-stat {
    text-align: center;
    & + .graph-stat {
        margin-top: $global-padding;
    }
}
.graph-label {
    display: block;
    font-style: italic;
}
.graph-link {
    font-size: 1.5rem;
    color: #000;
}
.ct-line {
    stroke-width: 5px;
}
.ct-point {
    stroke-width: 4px;
}
