body {
    background: #ffffff;
    font-family: Futura, Arial, sans-serif;
}
.trends-labels {
    display: flex;
    justify-content: space-between;
    span {
        font-size: 10px;
        font-style: italic;
    }
}
.trends-grid {
    display: flex;
    flex-flow: wrap;
}
.tile {
    width: 50%;
    padding-top: $global-padding;
}
.tile:nth-child(odd) {
    padding-right: ($global-padding / 2);
}
.tile:nth-child(even) {
    padding-left: ($global-padding / 2);
}
.article-list-item {
    // font-size: .7rem;
    // padding: ($global-padding / 2);
    // border-bottom: 1px solid #f9defc;
    a {
        // display: flex;
        color: #000;
        text-decoration: none;
        // align-items: center;
    }
    img {
        height: 35px;
        width: auto;
        vertical-align: text-top;
        // margin-right: ($global-padding/2);
    }
    .article-text {
        display: none;
    }
}

.results-heading {
    text-align: center;
    margin-top: 0;
    margin-bottom: $global-padding;
}
.results-container {
    width: 100%;
}
.today-list {
    background: $today-list-background-color;
    width: 80%;
    margin: $global-padding auto;

}
.today-list-item.list {
    display: flex;
    justify-content: space-between;
    padding: ($global-padding / 2) 0;
    &:hover {
        cursor: pointer;
    }
}
.today-list-item.list {
    border-top: $today-list-item-border;
    background-color: white;
}
.today-list-item.list:first-child {
    border-top: none;
}
.today-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: $global-padding;
}
.today-times-display {
    display: inline;
}
// .tab-pane-today .today-grid {
//     margin: 0 auto;
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     grid-template-rows: auto;
//     grid-gap: 20px;
// }
.daily-article-wrapper,
.today-list-item.card {
    margin-bottom: $global-padding*2;
    text-align: right;
    // text-align: center;
    // min-height: 100px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-direction: column;
}

.today-results-list {
    margin: 25px auto 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 5px;
}
.word-key {
    @extend .h2;
    margin-top: 0;
    margin-bottom: 5px;
    border-bottom: 2px solid #f50000;
}
.word-value {
    @extend .h3;
    margin-top: 0;
}
.hidden-word-results {
    visibility: hidden;
    position: absolute;
    height: 0;
    left: -9999px;
}
// Graph
.graph-stat {
    text-align: center;
    & + .graph-stat {
        margin-top: $global-padding;
    }
}
.graph-label {
    display: block;
    font-style: italic;
    color: $graph-label-color;
}
.graph-link {
    //font-size: $graph-link-font-size;
    color: $graph-link-color;
    text-decoration: none;
    @media (min-width: $md) {
        font-size: 1rem;
    }
    span {
        text-decoration: underline;
    }
}
.yearly-chart {
    width: 90%;
    max-width: 800px;
    position: relative;
    margin: 0 auto;
}
.yearly-chart .ct-bar {
    stroke-width: 1px;
}
// Modal
.ui-dialog {
    z-index: $z-index-high;
}
.ui-dialog-titlebar {
    position: relative;
}
.ui-button-icon-primary {
    display: none;
}
.ui-button-text {
    @extend .thin-text;
    display: block;
    text-indent: 0;
    font-size: 30px;
}
.ui-widget-header a {
	color: #333333;
}
.ui-dialog {
    width: 100% !important;
    height: 100vh !important;
    overflow-y: auto;
    position: fixed;
    top: 0 !important;
    background-color: $today-list-background-color;
}
.ui-dialog .ui-dialog-titlebar {
	position: relative;
}
.ui-dialog .ui-widget-header {
    height: 0;
}
.ui-dialog .ui-dialog-titlebar-close {
    position: fixed;
    right: -1px;
    top: 0;
    width: 50px;
    margin: -1px 0 0 0;
    padding: 0px;
    height: 50px;
    border: 1px solid #d7d7d7;
    background: rgba(255,255,255,0.5);
    &:hover {
        background: rgba(255,255,255,1);
    }
}
.modal-open .site-wrapper {
    opacity: 0;
}
// Rangeslider
.rangeslider {
    margin: $global-padding 0 ($global-padding * 2);
}
.year-range-slider {
    width: 100%;
    text-align: center;
}
// Slider
.rangeslider {
  background-color: #fff;
  border-radius: 0;
  height: 0.2rem;
}

.rangeslider__fill {
  background-color: #F01F14;
  border-radius: 0;
}
.rangeslider__handle {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  transition: transform .1s ease-in-out;
  &::after {
    display: none;
  }
  &:hover, &:active {
    transform: scale(1.2,1.2);
    transition: transform .1s ease-in-out;
  }
}
// Footer
footer {
    height: 200px;
    background-color: #e4e0ec;
}
