.article-list-item {
    max-width: 100%;
    @media(min-width: $sm) {
        width: auto;
    }
    a {
        color: #000;
        text-decoration: none;
    }
	&:hover {
		cursor: pointer;
	}
}
.thumbnail-placeholder {
	display: block;
	img {
		margin-bottom: ($global-padding/2);
		max-width: 100%;
	}
}
.today-list {
    background: $today-list-background-color;
    width: 80%;
    margin: $global-padding auto;

}
.article-list-item {
	opacity: 0;
}
.article-list-item.loaded {
	opacity: 1;
	transition: opacity .25s ease-in-out;
}
.today-list-item.list {
    display: flex;
    justify-content: space-between;
    padding: ($global-padding / 2) 0;
    &:hover {
        cursor: pointer;
    }
}
.today-list-item.list {
    border-top: $today-list-item-border;
    background-color: white;
}
.today-list-item.list:first-child {
    border-top: none;
}
.today-times-display {
    display: inline;
}
.daily-article-wrapper {
    margin-bottom: $global-padding;
    text-align: right;
}
.daily-article-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: $global-padding;
}
.today-word-articles-text {
	grid-column: 1/4;
  & > div {
    position: sticky;
    top: 60px;
  }

  @media(min-width: $sm) {
    grid-column: 2/4;
  }
  @media(min-width: $md) {
    grid-column: 1/3;
  }
  @media(min-width: $lg) {
    grid-column: 1;
  }
}
.article-highlight {
    background: #ffff00;
}
.word-key {
    @extend .h2;
    margin: 0;
}
.word-value {
    @extend .h3;
    margin-top: 0;
}
.today-word-articles-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: ($global-padding*0.66);
    align-self: start;
    grid-column: 4/7;
  	@media(min-width: $sm) {
      grid-template-columns: repeat(4, 1fr);
  	}
    @media(min-width: $md) {
      grid-column: 3/7;
    }
  	@media(min-width: $lg) {
      grid-column: 2/7;
  	  grid-template-columns: repeat(5, 1fr);
  	}
    // @media(min-width: $xl) {
    //     grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    // }
}
.hidden-word-results {
    visibility: hidden;
    position: absolute;
    height: 0;
    left: -9999px;
}
.item-card-heading {
  position: sticky;
  top: -1px;
  padding-top: $global-padding;
  z-index: $z-index-med;
  background: #FFFFFF;
  margin-bottom: $global-padding;
  border-bottom: 2px solid $highlight-color;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
