// Colours
$graph-colors: (
1 rgba(182, 211, 219, 1),
2 rgba(248, 182, 219, 1),
3 rgba(204, 195, 220, 1),
4 rgba(178, 214, 196, 1),
5 rgba(237, 199, 178, 1),
6 rgba(235, 231, 241, 1),
7 rgba(183, 220, 181, 1),
8 rgba(238, 49, 36, 1),
9 rgba(232, 213, 184, 1),
10 rgba(178, 192, 210, 1)
);
@each $value in $graph-colors {
	.word-chart:nth-child( #{nth($value, 1)}n+1 ) {
		.ct-series-a .ct-line {
			stroke: nth($value, 2);
		}
	}
}
.ct-series-a .ct-line {
  stroke-width: 3px;
}
