/* Grid.scss
   ========================================================================== */
$container-width:           95%;
$narrow-container-width:    70%;
$column-padding:            15px;
$row-margin:                20px;
$cols:                      12;
$xs:                        320px;
$sm:                        540px;
$md:                        760px;
$lg:                        970px;
$xl:                        1400px;

.container {
	margin-right: auto;
	margin-left: auto;
	width: $container-width;
	max-width: 1050px;
}
.container-fluid {
    width: 100%;
}
