.flam-text {
    font-family: 'Bigshot One', cursive;
    font-size: 3.5rem;
    @media(min-width: $sm) {
        font-size: 4rem;
    }
}
.thin-text {
    font-family: 'Quicksand', sans-serif;
    font-weight: 200;
    font-size: 3rem;
    color: #5A6C7B
}
.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    width: 100vw;
    > * {
        z-index: $z-index-high;
    }
}
.site-logo {
    text-decoration: none;
    color: #000;
    font-size: 1.3rem;
    line-height: initial;
    position: relative;
    & :first-child {
        text-transform: uppercase;
    }
    &:hover {
        cursor: pointer;
    }
}
.nav-icon {
    width: 17px;
    height: 18px;
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: $global-padding;
    span {
        height: 2px;
        display: block;
        position: relative;
        background: #000;
        transition: all .5s ease;
        transform-origin: right;
    }
    &:hover {
        cursor: pointer;
    }
}
