.tab-heading {
    text-align: center;
    // margin: $global-padding 0 0;
}
.sub-heading {
    text-align: center;
    font-weight: $font-light;
    margin: 0;
}
.nav {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    border-bottom: 1px solid $tab-background-color;
	border-top: 1px solid $tab-background-color;
	font-family: $secondary-font;
}
.nav > li {
    position: relative;
    display: block;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    cursor: pointer;
}
.nav > li > a > img {
    max-width: none;
}
.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}
.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    text-decoration: none;
    color: #000;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    // color: #555;
    text-decoration: underline;
    cursor: default;
}
.tab-content > .tab-pane {
    display: none;
}
.tab-content > .active {
    display: block;
}
