$global-padding: 15px;
$global-margin: $global-padding;

$header-height: 80px;

$z-index-low: 1;
$z-index-med: 5;
$z-index-high: 10;

$link-color: #186cbf;
$primary-color: #acacac;
$highlight-color: #004DB3;
$footer-background: #f4f4f4;
$tab-background-color: $primary-color;

// grid
$grid-gap: 5px;

// Today
$today-list-item-border: 1px dashed #000;
$today-list-background-color: #fef4ff;

// Graph
$graph-label-color: #777777;
$graph-link-color: $link-color;
$graph-link-font-size: 1.2rem;

// Fonts
$secondary-font: Futura, Arial, sans-serif;
$font-light: 100;

$chartLoop: 42;
