$sidebar-background: #add8e6;
$sidebar-width-sm: 120px;
$sidebar-width: 200px;
$header-height: 35px;
$global-padding: 15px;
$global-margin: $global-padding;

$header-height: 60px;

$z-index-low: 1;
$z-index-med: 5;
$z-index-high: 10;

$mo-main-border-color: #000;
$mo-border: 1px dashed $mo-main-border-color;
$radio-background-color-active: #ffe37b;

$tab-active-color: #bfd8d2;
$tab-color: #93a6a1;

$sidebar-label-border: 3px solid transparent;
$sidebar-label-border-color: #000;

$navigation-width: 90%;
$results-list-background-color: #fef4ff;

// Graph
$graph-label-color: #777777;
$graph-link-color: #186cbf;
$graph-link-font-size: 1.2rem;
$graph-line-width: 1px;
$graph-point-width: 0;

// Colours
$graph-colors: (
    1 #C1002F,
    2 #7C3C9E,
    3 #70A4E7,
    4 #E77400,
    5 #F5CC14,
    6 #57C133,
    7 #C1B19B
);
