$sidebar-background: #add8e6;
$sidebar-width-sm: 150px;
$sidebar-width: 200px;
$header-height: 35px;
$global-padding: 15px;
$global-margin: $global-padding;

$z-index-low: 1;
$z-index-med: 5;
$z-index-high: 10;

$mo-main-border-color: #000;
$mo-border: 1px dashed $mo-main-border-color;

$tab-1-color: green;
$tab-2-color: blue;
